.mainView {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F9FB;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    height: 80px;
    .title {
      margin-left: 10px;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 50px;
    width: 580px;
    padding: 0 4px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    input {
      width: 520px;
      border: none;
      font-size: 16px;
    }
    button {
      width: 44px;
      height: 44px;
      background-color: #FE7F66;
      border-radius: 8px;
      border:none;
      color: #fff;
    }
  }
}
.customerView {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .eventList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .event {
      display: grid;
      grid-template-columns: 30px 340px 150px;
      background: #fff;
      padding: 0 17px;
      width: 524px;
      height: 54px;
      text-align: start;
      align-items: center;
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 8px;
      div {
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
      }
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #999999;
      }
      img {
        height: 20px;
      }
    }
    .eventGroupList {
      .eventGroup {
        display: flex;
        // grid-template-columns: 30px 340px 150px;
        flex-direction: row;
        
        background: #fff;
        padding: 0 17px;
        width: 524px;
        height: 98px;
        text-align: start;
        align-items: center;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 8px;
        .smallEvent {
          display: grid;
          grid-template-columns: 30px 340px 150px;
          background: #fff;
          padding: 0 17px;
          width: 524px;
          height: 54px;
          text-align: start;
          align-items: center;
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 8px;
        }
      }
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    height: 75px;
    > div {
      margin: 0 20px;
    }
    .title {
      margin-left: 10px;
      font-size: 24px;
      font-weight: bold;
    }
    .sources {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 30px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
